html, body {
    width: 100%;
    height: 100%;
    font-family: opensans;
    line-height: 1.3;
    color: #5F5E5E;
}

.fullwidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.content-wrapper {
    width: 1080px;
    margin: 0 auto;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'bebas-neue';
}

/*IMAGE UTILS*/
.cover {
    width: 100%;
    height: auto;
}

/*RULER UTILS*/
hr.short {
    width: 50%;
    margin: 1em auto;
}

/*FONT UTILS*/
.fs-small {
    font-size: 14pt;
}

.fs-red {
    color: #d04646;
}

/*SOLID BACKGROUNDS*/
.solid-bg {
    display: inline-block;
    padding: 0.025em 0.35em;
    margin: 0.2em 0;
}

.solid-bg.red {
    background: #d04646;
}

.solid-bg.black {
    background: rgba(0, 0, 0, 0.3);
}

.solid-bg.white {
    background: #fff;
}

/*MAIN CONTENT WRAPPER*/
.main-content {
    background: white;
    position: absolute !important; z-index: 50;
    top: 80%;
    width: 100%;
}

/*HEADER*/
.header {
    background: #d04646;
    width: 100%;
    height: 64px;
    text-align: center;
    z-index: 100;
    position: fixed;
    top: 0;
}

.header__main-menu {
    list-style: none;
    margin: 0;
    font-family: "bebas-neue";
}

.header__main-menu__item {
    display: inline-block;
}

.header__main-menu__link {
    padding: 13px;
    display: inline-block;
    color: #312121;
    text-transform: uppercase;
    font-size: 18pt;
    transition: color .25s;
}

.header__main-menu__link:hover {
    color: rgba(255, 255, 255, 1);
}

.header__main-menu__link.active {
    color: white;
}

/*SECTION: BANNER*/
.banner {
    background: url(../img/dananjaya-bg.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 63px;
    z-index: 0;
    bottom: 60px;
}

.banner__wrapper {
    height: 100%;
}

.banner__event-credits {
    float: right;
    color: white;
    text-align: right;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-85%);
}

.banner__event-credits__block {
    font-family: 'bebas-neue';
    font-size: 2.2em;
    clear: both;
}

.banner__event-credits__logo {
    width: 40%;
    text-align: right;
    float: right;
}

/*SECTION: PROMO*/

.promo {
    position: relative;
    padding: 4em 2em 3em;
}

.promo__wrapper {
}

.promo__book-button {
    position: absolute;
    top: 0;
    left: 50%;
    margin: -40px 0 0 -40px;
    width: 80px;
    background: white;
    height: 80px;
    border: 5px solid #d04646;
    transform: rotate(45deg);
    cursor: pointer;
}

.promo__book-button__text {
    transform: rotate(-45deg);
    display: inline-block;
    font-family: 'bebas-neue';
    color: #d04646;
    font-size: 16pt;
    line-height: 16pt;
    padding: 15px 20px;
    text-align: center;
}

.promo__block-heading {
    text-align: center;
    color: #4a4a4a;
    font-size: 28pt;
    margin: 0.75em 0;
}

.promo__content {
    margin-top: 2em;
}


/*SECTION: BENEFITS*/
.benefits {
    position: relative;    
    padding: 3em 2em;
    border-top: 1px solid #ddd;
}

.benefits__wrapper {
}

.benefits__block-heading { color: white; font-size: 28pt; margin: 0.75em 0;
}


/*SECTION: TRAINER*/
.trainer {
    position: relative; 
    padding: 4em 0 3em; 
    background: #d04646;
}

.trainer__wrapper {
}

.trainer__heading {
    color: #4a4a4a; font-size: 28pt; 
    margin: 0.25em 0 0.65em;
}

.trainer__content {
}

.trainer__content-photo {
    padding-left: 0;
}

.trainer__content__container {
    padding-right: 5em;
}

.trainer__content-heading {
    color: white; 
    font-size: 20pt; 
    margin: 0 0 1em;
}

.trainer__content-text {
    color: rgba(255, 255, 255, 0.75);
}

.trainer__content-quote {
    color: white;
    line-height: 1.25em;
}

