html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3;
    color: #5F5E5E;
}

.fullwidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.content-wrapper {
    width: 1080px;
    margin: 0 auto;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'bebas-neue';
}

.translucent {
    opacity: 0.5;
}

.hidden {
    display: none;
}

/*IMAGE UTILS*/
.cover {
    width: 100%;
    height: auto;
}

/*RULER UTILS*/
hr {
    margin: 1em auto;
    width: 80%;
}

hr.short {
    width: 50%;
}

/*FONT UTILS*/
.fs-small {
    font-size: 14pt;
}

.fs-red {
    color: #d04646;
}

.fs-strike {
    text-decoration: line-through;
}

/*SOLID BACKGROUNDS*/
.solid-bg {
    display: inline-block;
    padding: 0.025em 0.35em;
    margin: 0.2em 0;
}

.solid-bg.red {
    background: #d04646;
}

.solid-bg.black {
    background: rgba(0, 0, 0, 0.3);
}

.solid-bg.white {
    background: #fff;
}

/*MAIN CONTENT WRAPPER*/
.main-content {
    background: white;
    position: absolute; 
    z-index: 50;
    top: calc(100% - 6em);
    width: 100%;
}

/*HEADER*/
.header {
    background: #d04646;
    width: 100%;
    height: 64px;
    text-align: center;
    z-index: 100;
    position: fixed;
    top: 0;
}

.header__main-menu {
    list-style: none;
    margin: 0;
    font-family: "bebas-neue";
}

.header__main-menu__item {
    display: inline-block;
}

.header__main-menu__link {
    padding: 13px;
    display: inline-block;
    color: #312121;
    text-transform: uppercase;
    font-size: 18pt;
    transition: color .25s;
}

.header__main-menu__logo {
    width: 35pt;
}

.header__main-menu__link:hover {
    color: rgba(255, 255, 255, 1);
}

.header__main-menu__link.active {
    color: white;
}

/*SECTION: BANNER*/
.banner {
    background: url(../img/dananjaya-bg.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 63px;
    z-index: 0;
    bottom: 60px;
    overflow: auto;
}

.banner__wrapper {
    height: 100%;
    overflow: auto;
}

.banner__event-credits {
    color: white;
    /* text-align: center; */
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.banner__event-credits__wrapper {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    padding: 0 10%;
}

.banner__event-credits__block {
    font-family: 'bebas-neue';
    font-size: 2.2em;
    clear: both;
}

.banner__event-credits__block.person {
    text-align: right;
}

.banner__event-credits__block.title {
    text-align: right;
}

.banner__event-credits__logo {
    width: 40%;
    text-align: right;
    float: right;
}

.banner__questions {
    text-align: center;
    position: relative;
}

.banner__questions.one {
}

.banner__questions.two {
}

.banner__questions.three {
}

.banner__question__text {
    color: white;
}


/*SECTION: PROMO*/

.promo {
    position: relative;
    padding: 4em 2em 3em;
}

.promo__wrapper {
}

.promo__book-button {
    position: absolute;
    top: 0;
    left: 50%;
    margin: -40px 0 0 -40px;
    width: 80px;
    background: white;
    height: 80px;
    border: 5px solid #d04646;
    transform: rotate(45deg);
    cursor: pointer;
}

.promo__book-button__text {
    transform: rotate(-45deg);
    display: inline-block;
    font-family: 'bebas-neue';
    color: #d04646;
    font-size: 16pt;
    line-height: 16pt;
    padding: 15px 20px;
    text-align: center;
}

.promo__block-heading {
    text-align: center;
    color: #4a4a4a;
    font-size: 28pt;
    margin: 0.75em 0;
}

.promo__block-heading__sub {
    display: block;
    font-size: 14px;
}

.promo__content {
    margin-top: 2em;
}


/*SECTION: BENEFITS*/
.benefits {
    position: relative;    
    padding: 3em 2em;
    border-top: 1px solid #ddd;
}

.benefits__wrapper {
}

.benefits__block-heading { color: white; font-size: 28pt; margin: 0.75em 0;
}


/*SECTION: TRAINER*/
.trainer {
    position: relative; 
    padding: 4em 0 3em; 
    background: #d04646;
}

.trainer__wrapper {
}

.trainer__heading {
    color: #4a4a4a; font-size: 28pt; 
    margin: 0 0 0.65em;
    text-align: right;
}

.trainer__content {
}

.trainer__content-photo {
    padding-left: 0;
}

.trainer__content__container {
}

.trainer__content-heading {
    color: white; 
    font-size: 20pt; 
    margin: 0 0 1em;
}

.trainer__content-text {
    color: rgba(255, 255, 255, 0.75);
}

.trainer__content-quote {
    color: white;
    line-height: 1.25em;
    border-right: 1px solid #dddddd;
    border-left: none;
    text-align: right;
    margin-top: 2em;
    padding-left: 0;
}


/*SECTION: CHAMPION VIDEO*/
.champion-video {
    text-align: center;
    padding: 0 1em 1.25em;
    background: rgb(44, 43, 43);
}

.champion-video__wrapper {
}

.champion-video__title {
    color: #FFFFFF; font-size: 28pt; 
    margin: 10px 0 5px;
    text-align: center;
}


/*SECTION: EVENT-DETAILS*/
.event-details {
    padding: 4em 0;
}

.event-details__wrapper {
}

.event-details__heading {
    color: white; 
    font-size: 28pt; 
}

.event-details__ticket-heading {
    color: white; 
    font-size: 28pt; 
    margin-top: 1em;
}

.event-details__text { color: #4a4a4a; 
    font-size: 20pt;
    margin: 1em 0;
}

.row.event-details__row__wrapper {
    margin-left: 0;
    margin-right: 0;
}

/*VIP*/

.row.event-details__vip__wrapper {
    background: #d04646;
    color: white;
    padding: 2em 1em 2em 15%;
    position: relative;
    margin-bottom: 1%;
    margin-left: 0;
    margin-right: 0;
}

.event-details__vip__price {
    text-align: center;
    font-family: 'bebas-neue';
    position: relative;
    top: 50%;
    transform: translateY(1%);
    border-right: 1px solid rgba(255, 255, 255, 0.71);
    padding: 2% 0;
}

.event-details__vip__title {
    color: white;
    font-size: 26pt;
}

.event-details__vip__price-text {
    font-size: 20pt;
    line-height: 20pt;
    margin-bottom: 0;
}

.event-details__vip__desc {
    padding-left: 7%;
}

.event-details__vip__desc__list {
    margin-bottom: 0;
}

.event-details__vip__desc__item {
}

/*GOLD*/

.event-details__gold__wrapper {
    background: #ffae01;
    color: white;
    padding: 2em 1em;
    position: relative;
    width: 49.5%;
}

.event-details__gold__price {
    text-align: center;
    font-family: 'bebas-neue';
    border-right: 1px solid rgba(255, 255, 255, 0.71);
    padding: 1% 0 3%;
}

.event-details__gold__title {
    color: white;
    font-size: 26pt;
}

.event-details__gold__price-text {
    font-size: 20pt;
    line-height: 20pt;
    margin-bottom: 0;
}

.event-details__gold__desc {
    padding-left: 5%;
    margin-top: 1.75em;
}

.event-details__gold__desc__list {
    margin-bottom: 0;
}

.event-details__gold__desc__item {
}

/*SILVER*/

.event-details__silver__wrapper {
    background: #dadada;
    color: #6d6d6d;
    padding: 2em 0;
    position: relative;
    width: 49.5%;
}

.event-details__silver__price {
    text-align: center;
    font-family: 'bebas-neue';
    position: relative;
    top: 50%;
    transform: translateY(1%);
    border-right: 1px solid rgba(109, 109, 109, 0.59);
    padding: 2% 0;
}

.event-details__silver__title {
    color: #6d6d6d;
    font-size: 26pt;
}

.event-details__silver__price-text {
    font-size: 20pt;
    line-height: 20pt;
    margin-bottom: 0;
}

.event-details__silver__desc {
    padding-left: 5%;
    margin-top: 2.5em;
}

.event-details__silver__desc__list {
    margin-bottom: 0;
}

.event-details__silver__desc__item {
}


/*SECTION: FOOTER*/
.footer {
    background: #252629;
    padding: 4em 0;
    text-align: center;
}

.footer__wrapper {
}

.brand__logo {
    width: 150px;
    margin: auto;
}

.brand__name {
    color: white;
    font-size: 22pt;
}

.brand__email {
    color: #ffcc29;
    display: inline-block;
    margin-bottom: 1em;
}

.brand__phone {
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.85em;
}

.brand__social-links {
}

.brand__social-link-item {
    width: 2em;
    height: 2em;
    display: inline-block;
    margin-right: 2em;
}

.brand__social-link-item.facebook {
    background: url(../img/facebook.png) center no-repeat;
    background-size: cover;
}

.brand__social-link-item.twitter {
    background: url(../img/twitter.png) center no-repeat; background-size: cover;
    margin-right: 0;
}

